@font-face {
    font-family: Xbka;
    src: url('../fonts/Xbka.otf') format('opentype');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    font-family: 'General Sans', Helvetica, Arial, sans-serif;
    color: #fafafa;
    background-color: #151515;
    font-size: 20px;
    font-weight: 100;
}

p {
    padding: 10px;
    line-height: 28px;
}

a {
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a {
    color: #ffff00;
    text-decoration: none;
}

a:focus {
    color: #ffff00;
    outline: none !important;
}

a:hover {
    color: #ffff00;
    text-decoration: underline;
}

.content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-bottom: 50px;
}

i {
    padding-right: 10px;
}

h1,
h3 {
    padding-top: 20px;
    font-family: Xbka, 'General Sans', Helvetica, Arial, sans-serif;
    color: #ffff00;
}

h1 {
    font-size: 64px;
    font-weight: 400;
}

h3 {
    font-size: 30px;
    font-weight: 200;
}

.center {
    margin: auto;
    text-align: center;
}